# Import Libraries

In [200]:
import pickle
import pandas as pd

# Import Data

## Hashtag DataFrame

In [2]:
# import first dataset
hashtag_df = pd.read_pickle('./cleaned_data/combined_h.pkl')

In [3]:
hashtag_df.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,user_id,username,target,tag,num_hashtags,time_of_day,month,day,season,compound
0,1133114304109174784,2019-05-27,"[#mentalhealthweek, #garden, #anxiety, #mental...",1133114304109174785,3,MandyCharlton,0,2,1654,"""So, let's just talk about gardening for a mom...",14450939,mandycharlton,1,hashtag_anxiety,4,PM,5,Monday,spring,0.3182
1,1133070362885799936,2019-05-27,"[#anxious, #good, #happiness, #anxiety]",1133070362885799936,2,MTV Lebanon News,0,0,1400,This Is Why You Get More #Anxious After Someth...,397199380,mtvlebanonnews,1,hashtag_anxiety,4,PM,5,Monday,spring,0.0000
2,1133040214748925952,2019-05-27,"[#londonreal, #motivation, #sadhguru, #inneren...",1133040214748925952,39,Isha USA,0,23,1200,#LondonReal #Motivation #Sadhguru SADHGURU - T...,450083100,ishausa,1,hashtag_anxiety,15,PM,5,Monday,spring,0.0000
3,1133032399107973120,2019-05-27,"[#anxious, #good, #happiness, #anxiety]",1133032399107973120,0,MTV English News,0,1,1129,This Is Why You Get More #Anxious After Someth...,1089342374,mtvenglishnews,1,hashtag_anxiety,4,AM,5,Monday,spring,0.0000
4,1133025820845465600,2019-05-27,"[#cannabis, #cbd, #pain, #anxiety, #cancer, #c...",1133025820845465600,4,Advanced Nutrients,0,1,1103,The money will partially go towards 26 project...,15825795,advancednutes,1,hashtag_anxiety,8,AM,5,Monday,spring,0.5859

In [4]:
hashtag_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154746 entries, 0 to 171505
Data columns (total 20 columns):
conversation_id    154746 non-null int64
date               154746 non-null datetime64[ns]
hashtags           154746 non-null object
id                 154746 non-null int64
likes_count        154746 non-null int64
name               154746 non-null object
replies_count      154746 non-null int64
retweets_count     154746 non-null int64
time               154746 non-null int16
tweet              154746 non-null object
user_id            154746 non-null int64
username           154746 non-null object
target             154746 non-null int64
tag                154746 non-null object
num_hashtags       154746 non-null int64
time_of_day        154746 non-null object
month              154746 non-null int64
day                154746 non-null object
season             154746 non-null object
compound           154746 non-null float64
dtypes: datetime64[ns](1), float64(1), int16(1), int64(9), object(8)
memory usage: 23.9+ MB

In [5]:
hashtag_df.isnull().sum()

conversation_id    0
date               0
hashtags           0
id                 0
likes_count        0
name               0
replies_count      0
retweets_count     0
time               0
tweet              0
user_id            0
username           0
target             0
tag                0
num_hashtags       0
time_of_day        0
month              0
day                0
season             0
compound           0
dtype: int64

## Search Dataframe

In [6]:
# import second dataset
search_df = pd.read_pickle('./cleaned_data/dfs_tweets.pkl')

In [7]:
search_df.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,user_id,username,compound,target,tag,num_hashtags,time_of_day,month,day,season
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",17442457,cleclinicmd,-0.7964,1,search_depression,2,PM,5,Monday,spring
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,17187236,12news,-0.6597,1,search_depression,2,PM,5,Monday,spring
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,9907172,necn,0.1027,1,search_depression,2,PM,5,Monday,spring
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",166438381,trainsinfo,-0.5647,1,search_depression,2,PM,5,Monday,spring
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,246103,jeffreyguterman,-0.6360,1,search_depression,2,PM,5,Monday,spring

In [8]:
search_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502786 entries, 0 to 546229
Data columns (total 20 columns):
conversation_id    502786 non-null int64
date               502786 non-null datetime64[ns]
hashtags           502786 non-null object
id                 502786 non-null int64
likes_count        502786 non-null int32
name               502786 non-null object
replies_count      502786 non-null int32
retweets_count     502786 non-null int32
time               502786 non-null int16
tweet              502786 non-null object
user_id            502786 non-null int64
username           502786 non-null object
compound           502786 non-null float64
target             502786 non-null int64
tag                502786 non-null object
num_hashtags       502786 non-null int64
time_of_day        502786 non-null object
month              502786 non-null int64
day                502786 non-null object
season             502786 non-null object
dtypes: datetime64[ns](1), float64(1), int16(1), int32(3), int64(6), object(8)
memory usage: 71.9+ MB

In [9]:
search_df.isnull().sum()

conversation_id    0
date               0
hashtags           0
id                 0
likes_count        0
name               0
replies_count      0
retweets_count     0
time               0
tweet              0
user_id            0
username           0
compound           0
target             0
tag                0
num_hashtags       0
time_of_day        0
month              0
day                0
season             0
dtype: int64

# Data Wrangling

## Combine Datasets

In [20]:
# concat dataframes
df = pd.concat([search_df, hashtag_df], axis=0, sort=False).reset_index(drop=True)

In [21]:
df.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,user_id,username,compound,target,tag,num_hashtags,time_of_day,month,day,season
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",17442457,cleclinicmd,-0.7964,1,search_depression,2,PM,5,Monday,spring
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,17187236,12news,-0.6597,1,search_depression,2,PM,5,Monday,spring
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,9907172,necn,0.1027,1,search_depression,2,PM,5,Monday,spring
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",166438381,trainsinfo,-0.5647,1,search_depression,2,PM,5,Monday,spring
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,246103,jeffreyguterman,-0.6360,1,search_depression,2,PM,5,Monday,spring

In [22]:
df.tail()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,user_id,username,compound,target,tag,num_hashtags,time_of_day,month,day,season
657527,991956807697534976,2018-05-03,"[#fabulous, #lgbt, #hoodies, #5xl, #suicide, #...",991956807697534976,62,Kevin O'Neil,2,28,425,Check out our best ever collection of #FABULOU...,606412878,wipehomophobia,0.9386,1,hashtag_suicide,8,AM,5,Thursday,spring
657528,991926608666783744,2018-05-03,"[#fabulous, #lgbt, #hoodies, #5xl, #suicide, #...",991926608666783744,27,Kevin O'Neil,0,5,225,Check out our best ever collection of #FABULOU...,606412878,wipehomophobia,0.9386,1,hashtag_suicide,8,AM,5,Thursday,spring
657529,991903882740617216,2018-05-03,"[#gangrapes, #haryana, #autodriver, #men, #gur...",991903882740617216,0,LatestLY,0,0,54,#GangRapes in #Haryana! #AutoDriver & 4 #Men R...,828841083257778176,latestly,-0.7777,1,hashtag_suicide,7,AM,5,Thursday,spring
657530,991901413612703744,2018-05-03,"[#bozemanhealth, #gunlocks, #suicide]",991901413612703744,0,NBC Montana,0,0,45,#BozemanHealth received #gunlocks as a donatio...,27987151,nbcmontana,0.2263,1,hashtag_suicide,3,AM,5,Thursday,spring
657531,991896409740738560,2018-05-03,"[#fabulous, #lgbt, #hoodies, #5xl, #suicide, #...",991896409740738560,23,Kevin O'Neil,0,5,25,Check out our best ever collection of #FABULOU...,606412878,wipehomophobia,0.9386,1,hashtag_suicide,8,AM,5,Thursday,spring

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657532 entries, 0 to 657531
Data columns (total 20 columns):
conversation_id    657532 non-null int64
date               657532 non-null datetime64[ns]
hashtags           657532 non-null object
id                 657532 non-null int64
likes_count        657532 non-null int64
name               657532 non-null object
replies_count      657532 non-null int64
retweets_count     657532 non-null int64
time               657532 non-null int16
tweet              657532 non-null object
user_id            657532 non-null int64
username           657532 non-null object
compound           657532 non-null float64
target             657532 non-null int64
tag                657532 non-null object
num_hashtags       657532 non-null int64
time_of_day        657532 non-null object
month              657532 non-null int64
day                657532 non-null object
season             657532 non-null object
dtypes: datetime64[ns](1), float64(1), int16(1), int64(9), object(8)
memory usage: 96.6+ MB

In [24]:
df.isnull().sum()

conversation_id    0
date               0
hashtags           0
id                 0
likes_count        0
name               0
replies_count      0
retweets_count     0
time               0
tweet              0
user_id            0
username           0
compound           0
target             0
tag                0
num_hashtags       0
time_of_day        0
month              0
day                0
season             0
dtype: int64

In [25]:
hashtag_df.shape

(154746, 20)

In [26]:
search_df.shape

(502786, 20)

In [27]:
# check new dataframe shape after concatenation
df.shape

(657532, 20)

In [28]:
# drop duplicates
df = df.drop_duplicates(subset=['id'])

In [29]:
# check shape after dropping duplicates
df.shape

(634636, 20)

In [30]:
# # pickle new dataframe
# df.to_pickle('./cleaned_data/all_data.pkl')

## Create New Features

### Group By Conversation ID - Avg Sentiment Score

In [80]:
# create new dataframe of avg sentiment scores of tweets based on conversation
convo = df.groupby('conversation_id').agg({'compound': 'mean'}).reset_index(drop=False)

In [81]:
convo.head()

   conversation_id  compound
0        924224891   0.77120
1       1354897591   0.81050
2       1573959441   0.81260
3       1886437555   0.80365
4       2670250046   0.78450

In [82]:
convo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614975 entries, 0 to 614974
Data columns (total 2 columns):
conversation_id    614975 non-null int64
compound           614975 non-null float64
dtypes: float64(1), int64(1)
memory usage: 9.4 MB

In [83]:
convo['compound'].value_counts()

 0.000000    43299
 0.571900    19352
 0.611400    15547
 0.557400    13909
-0.571900    12999
-0.177900    12065
 0.361200     3388
 0.636900     3362
 0.646700     3243
 0.750600     3179
 0.718400     3075
 0.765000     3028
 0.440400     2682
-0.250000     2627
 0.401900     2576
 0.250000     2482
 0.743000     2469
 0.318200     2384
 0.296000     2347
 0.493900     2257
 0.831600     2222
 0.202300     2210
 0.812600     2171
 0.757900     2169
 0.421500     2112
-0.296000     2079
 0.938600     2071
-0.659700     2068
 0.128000     2048
 0.542300     2044
             ...
 0.454600        1
-0.737750        1
 0.183533        1
 0.718400        1
-0.092250        1
 0.428500        1
 0.230833        1
-0.425150        1
-0.527600        1
 0.848200        1
-0.577950        1
 0.156250        1
-0.497800        1
 0.113250        1
-0.648100        1
 0.066900        1
 0.743550        1
-0.742000        1
 0.718300        1
 0.439400        1
 0.466780        1
-0.019350        1
 0.633700        1
-0.416050        1
 0.504400        1
-0.536100        1
-0.403967        1
 0.741733        1
 0.472500        1
-0.471200        1
Name: compound, Length: 22093, dtype: int64

In [84]:
# rename compound column to avg_convo_ss
convo = convo.rename(columns={'compound': 'avg_convo_ss'})

In [85]:
convo.head()

   conversation_id  avg_convo_ss
0        924224891       0.77120
1       1354897591       0.81050
2       1573959441       0.81260
3       1886437555       0.80365
4       2670250046       0.78450

### Group By Day of Week - Avg Sentiment Score

In [55]:
# create new dataframe of avg sentiment score of tweets based on day of week
days = df.groupby('day').agg({'compound': 'mean'}).reset_index(drop=False)

In [56]:
days.head()

        day  compound
0    Friday  0.339485
1    Monday  0.342849
2  Saturday  0.364069
3    Sunday  0.430960
4  Thursday  0.328104

In [57]:
days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
day         7 non-null object
compound    7 non-null float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

In [58]:
days['compound'].value_counts()

0.364069    1
0.430960    1
0.339485    1
0.322150    1
0.342849    1
0.328104    1
0.330778    1
Name: compound, dtype: int64

In [86]:
# rename compound column to avg_day_ss
days = days.rename(columns={'compound': 'avg_day_ss'})

In [87]:
days.head()

        day  avg_day_ss
0    Friday    0.339485
1    Monday    0.342849
2  Saturday    0.364069
3    Sunday    0.430960
4  Thursday    0.328104

### Group By Season - Avg Sentiment Score

In [59]:
# create new dataframe of avg sentiment score of tweets based on season
seasons = df.groupby('season').agg({'compound': 'mean'}).reset_index(drop=False)

In [60]:
seasons.head()

   season  compound
0  autumn  0.168943
1  spring  0.502371
2  summer  0.174403
3  winter  0.227973

In [61]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
season      4 non-null object
compound    4 non-null float64
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes

In [62]:
seasons['compound'].value_counts()

0.174403    1
0.227973    1
0.502371    1
0.168943    1
Name: compound, dtype: int64

In [88]:
# rename compound column to avg_season_ss
seasons = seasons.rename(columns={'compound': 'avg_season_ss'})

In [89]:
seasons.head()

   season  avg_season_ss
0  autumn       0.168943
1  spring       0.502371
2  summer       0.174403
3  winter       0.227973

### Group By Time of Day - Avg Sentiment Score

In [63]:
# create new dataframe of avg sentiment score of tweets based on time of day
times_of_day = df.groupby('time_of_day').agg({'compound': 'mean'}).reset_index(drop=False)

In [64]:
times_of_day.head()

  time_of_day  compound
0          AM  0.364879
1          PM  0.336220

In [65]:
times_of_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
time_of_day    2 non-null object
compound       2 non-null float64
dtypes: float64(1), object(1)
memory usage: 112.0+ bytes

In [66]:
times_of_day['compound'].value_counts()

0.336220    1
0.364879    1
Name: compound, dtype: int64

In [90]:
# rename compound column to avg_time_of_day_ss
times_of_day = times_of_day.rename(columns={'compound': 'avg_time_of_day_ss'})

In [91]:
times_of_day.head()

  time_of_day  avg_time_of_day_ss
0          AM            0.364879
1          PM            0.336220

### Group By Tag - Avg Sentiment Score

In [67]:
# create new dataframe of avg sentiment score of tweets based on hashtag or search keyword
tags = df.groupby('tag').agg({'compound': 'mean'}).reset_index(drop=False)

In [68]:
tags.head()

                  tag  compound
0     hashtag_anxiety  0.017150
1  hashtag_depression  0.571900
2     hashtag_friends  0.388798
3         hashtag_fun  0.370048
4   hashtag_happiness  0.356264

In [69]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
tag         21 non-null object
compound    21 non-null float64
dtypes: float64(1), object(1)
memory usage: 416.0+ bytes

In [70]:
tags['compound'].value_counts()

 0.670050    1
-0.375016    1
-0.036229    1
 0.356264    1
 0.151663    1
 0.388798    1
 0.571900    1
 0.367495    1
 0.317468    1
 0.400974    1
 0.709567    1
 0.224496    1
 0.355990    1
 0.238129    1
 0.083153    1
-0.060139    1
 0.204148    1
 0.109211    1
 0.370048    1
 0.017150    1
 0.360370    1
Name: compound, dtype: int64

In [92]:
# rename compound column to avg_tag_ss
tags = tags.rename(columns={'compound': 'avg_tag_ss'})

In [93]:
tags.head()

                  tag  avg_tag_ss
0     hashtag_anxiety    0.017150
1  hashtag_depression    0.571900
2     hashtag_friends    0.388798
3         hashtag_fun    0.370048
4   hashtag_happiness    0.356264

### Total Avg Sentiment Score of Population of Tweets

In [71]:
# calculate overall avg sentiment score of tweets of population
total_sentiment = df['compound'].mean()
total_sentiment

0.3498797389369655

### Add Above New Features to Overall Dataframe

#### Add Average Sentiment Score of Tweets Based on Conversation

In [103]:
# merge avg sentiment score of tweets based on conversation into main dataframe
df_convo = pd.merge(left=df, right=convo, left_on='conversation_id', right_on='conversation_id')

In [104]:
df_convo.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,username,compound,target,tag,num_hashtags,time_of_day,month,day,season,avg_convo_ss
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,cleclinicmd,-0.7964,1,search_depression,2,PM,5,Monday,spring,-0.7964
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,12news,-0.6597,1,search_depression,2,PM,5,Monday,spring,-0.6597
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,necn,0.1027,1,search_depression,2,PM,5,Monday,spring,0.1027
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,trainsinfo,-0.5647,1,search_depression,2,PM,5,Monday,spring,-0.5647
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,jeffreyguterman,-0.6360,1,search_depression,2,PM,5,Monday,spring,-0.6360

In [105]:
df_convo.isnull().sum()

conversation_id    0
date               0
hashtags           0
id                 0
likes_count        0
name               0
replies_count      0
retweets_count     0
time               0
tweet              0
user_id            0
username           0
compound           0
target             0
tag                0
num_hashtags       0
time_of_day        0
month              0
day                0
season             0
avg_convo_ss       0
dtype: int64

#### Add Average Sentiment Score of Tweets Based on Day of Week

In [109]:
# merge avg sentiment score of tweets based on conversation into main dataframe
df_days = pd.merge(left=df_convo, right=days, on='day')

In [110]:
df_days.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,compound,target,tag,num_hashtags,time_of_day,month,day,season,avg_convo_ss,avg_day_ss
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,-0.7964,1,search_depression,2,PM,5,Monday,spring,-0.7964,0.342849
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,-0.6597,1,search_depression,2,PM,5,Monday,spring,-0.6597,0.342849
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,0.1027,1,search_depression,2,PM,5,Monday,spring,0.1027,0.342849
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,-0.5647,1,search_depression,2,PM,5,Monday,spring,-0.5647,0.342849
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,-0.6360,1,search_depression,2,PM,5,Monday,spring,-0.6360,0.342849

In [111]:
df_days.isnull().sum()

conversation_id    0
date               0
hashtags           0
id                 0
likes_count        0
name               0
replies_count      0
retweets_count     0
time               0
tweet              0
user_id            0
username           0
compound           0
target             0
tag                0
num_hashtags       0
time_of_day        0
month              0
day                0
season             0
avg_convo_ss       0
avg_day_ss         0
dtype: int64

#### Add Average Sentiment Score of Tweets Based on Season

In [114]:
# merge avg sentiment score of tweets based on conversation into main dataframe
df_season = pd.merge(left=df_days, right=seasons, on='season')

In [115]:
df_season.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,target,tag,num_hashtags,time_of_day,month,day,season,avg_convo_ss,avg_day_ss,avg_season_ss
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,1,search_depression,2,PM,5,Monday,spring,-0.7964,0.342849,0.502371
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,1,search_depression,2,PM,5,Monday,spring,-0.6597,0.342849,0.502371
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,1,search_depression,2,PM,5,Monday,spring,0.1027,0.342849,0.502371
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,1,search_depression,2,PM,5,Monday,spring,-0.5647,0.342849,0.502371
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,1,search_depression,2,PM,5,Monday,spring,-0.6360,0.342849,0.502371

In [116]:
df_season.isnull().sum()

conversation_id    0
date               0
hashtags           0
id                 0
likes_count        0
name               0
replies_count      0
retweets_count     0
time               0
tweet              0
user_id            0
username           0
compound           0
target             0
tag                0
num_hashtags       0
time_of_day        0
month              0
day                0
season             0
avg_convo_ss       0
avg_day_ss         0
avg_season_ss      0
dtype: int64

#### Add Average Sentiment Score of Tweets Based on Time of Day

In [117]:
# merge avg sentiment score of tweets based on conversation into main dataframe
df_time = pd.merge(left=df_season, right=times_of_day, on='time_of_day')

In [118]:
df_time.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,tag,num_hashtags,time_of_day,month,day,season,avg_convo_ss,avg_day_ss,avg_season_ss,avg_time_of_day_ss
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,search_depression,2,PM,5,Monday,spring,-0.7964,0.342849,0.502371,0.33622
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,search_depression,2,PM,5,Monday,spring,-0.6597,0.342849,0.502371,0.33622
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,search_depression,2,PM,5,Monday,spring,0.1027,0.342849,0.502371,0.33622
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,search_depression,2,PM,5,Monday,spring,-0.5647,0.342849,0.502371,0.33622
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,search_depression,2,PM,5,Monday,spring,-0.6360,0.342849,0.502371,0.33622

In [119]:
df_time.isnull().sum()

conversation_id       0
date                  0
hashtags              0
id                    0
likes_count           0
name                  0
replies_count         0
retweets_count        0
time                  0
tweet                 0
user_id               0
username              0
compound              0
target                0
tag                   0
num_hashtags          0
time_of_day           0
month                 0
day                   0
season                0
avg_convo_ss          0
avg_day_ss            0
avg_season_ss         0
avg_time_of_day_ss    0
dtype: int64

#### Add Average Sentiment Score of Tweets Based on Hashtag or Search Keyword

In [120]:
# merge avg sentiment score of tweets based on conversation into main dataframe
df_tag = pd.merge(left=df_time, right=tags, on='tag')

In [121]:
df_tag.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,num_hashtags,time_of_day,month,day,season,avg_convo_ss,avg_day_ss,avg_season_ss,avg_time_of_day_ss,avg_tag_ss
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,2,PM,5,Monday,spring,-0.7964,0.342849,0.502371,0.33622,-0.375016
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,2,PM,5,Monday,spring,-0.6597,0.342849,0.502371,0.33622,-0.375016
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,2,PM,5,Monday,spring,0.1027,0.342849,0.502371,0.33622,-0.375016
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,2,PM,5,Monday,spring,-0.5647,0.342849,0.502371,0.33622,-0.375016
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,2,PM,5,Monday,spring,-0.6360,0.342849,0.502371,0.33622,-0.375016

In [122]:
df_tag.isnull().sum()

conversation_id       0
date                  0
hashtags              0
id                    0
likes_count           0
name                  0
replies_count         0
retweets_count        0
time                  0
tweet                 0
user_id               0
username              0
compound              0
target                0
tag                   0
num_hashtags          0
time_of_day           0
month                 0
day                   0
season                0
avg_convo_ss          0
avg_day_ss            0
avg_season_ss         0
avg_time_of_day_ss    0
avg_tag_ss            0
dtype: int64

#### Add Total Average Sentiment Score of Population

In [123]:
# add new column with total avg sentiment score of population
df_tag['avg_pop_ss'] = total_sentiment

In [124]:
df_tag.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,time_of_day,month,day,season,avg_convo_ss,avg_day_ss,avg_season_ss,avg_time_of_day_ss,avg_tag_ss,avg_pop_ss
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,PM,5,Monday,spring,-0.7964,0.342849,0.502371,0.33622,-0.375016,0.34988
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,PM,5,Monday,spring,-0.6597,0.342849,0.502371,0.33622,-0.375016,0.34988
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,PM,5,Monday,spring,0.1027,0.342849,0.502371,0.33622,-0.375016,0.34988
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,PM,5,Monday,spring,-0.5647,0.342849,0.502371,0.33622,-0.375016,0.34988
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,PM,5,Monday,spring,-0.6360,0.342849,0.502371,0.33622,-0.375016,0.34988

In [125]:
df_tag.isnull().sum()

conversation_id       0
date                  0
hashtags              0
id                    0
likes_count           0
name                  0
replies_count         0
retweets_count        0
time                  0
tweet                 0
user_id               0
username              0
compound              0
target                0
tag                   0
num_hashtags          0
time_of_day           0
month                 0
day                   0
season                0
avg_convo_ss          0
avg_day_ss            0
avg_season_ss         0
avg_time_of_day_ss    0
avg_tag_ss            0
avg_pop_ss            0
dtype: int64

### Rename Compound Column to Tweet Sentiment Score (Tweet_SS)

In [126]:
# rename compound column
df_tag.rename(columns={'compound': 'tweet_ss'}, inplace=True)

In [128]:
df_tag.columns

Index(['conversation_id', 'date', 'hashtags', 'id', 'likes_count', 'name',
       'replies_count', 'retweets_count', 'time', 'tweet', 'user_id',
       'username', 'tweet_ss', 'target', 'tag', 'num_hashtags', 'time_of_day',
       'month', 'day', 'season', 'avg_convo_ss', 'avg_day_ss', 'avg_season_ss',
       'avg_time_of_day_ss', 'avg_tag_ss', 'avg_pop_ss'],
      dtype='object')

In [131]:
# rename tweet dataframe from df_tag to tweet_df
tweet_df = df_tag.copy()

In [133]:
# check number of unique values in name column
tweet_df.name.nunique()

102010

In [134]:
# check number of unique values in username column
tweet_df.username.nunique()

103210

In [135]:
# check number of unique values in user_id
tweet_df.user_id.nunique()

103209

In [129]:
# # pickle dataframe after adding new features
# df_tag.to_pickle('./cleaned_data/new_features_added.pkl')

### Create New DataFrame on User-Level

#### Create Dummy Variables

##### Tag Dummies

In [159]:
# create dummies of tag column before grouping and aggregation
tag_dummies = pd.get_dummies(tweet_df.tag)

In [160]:
tag_dummies.head()

,hashtag_anxiety,hashtag_depression,hashtag_friends,hashtag_fun,hashtag_happiness,hashtag_happy,hashtag_hope,hashtag_life,hashtag_lonely,hashtag_love,...,hashtag_peace,hashtag_ptsd,hashtag_sad,hashtag_smile,hashtag_stress,hashtag_suicide,search_anxiety,search_depression,search_happiness,search_happy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [161]:
# concat dummy variables to main dataframe
tweet_dummy = pd.concat([tweet_df, tag_dummies.drop('hashtag_life', axis=1)], axis=1)

In [162]:
tweet_dummy.columns

Index(['conversation_id', 'date', 'hashtags', 'id', 'likes_count', 'name',
       'replies_count', 'retweets_count', 'time', 'tweet', 'user_id',
       'username', 'tweet_ss', 'target', 'tag', 'num_hashtags', 'time_of_day',
       'month', 'day', 'season', 'avg_convo_ss', 'avg_day_ss', 'avg_season_ss',
       'avg_time_of_day_ss', 'avg_tag_ss', 'avg_pop_ss', 'hashtag_anxiety',
       'hashtag_depression', 'hashtag_friends', 'hashtag_fun',
       'hashtag_happiness', 'hashtag_happy', 'hashtag_hope', 'hashtag_lonely',
       'hashtag_love', 'hashtag_pain', 'hashtag_peace', 'hashtag_ptsd',
       'hashtag_sad', 'hashtag_smile', 'hashtag_stress', 'hashtag_suicide',
       'search_anxiety', 'search_depression', 'search_happiness',
       'search_happy'],
      dtype='object')

##### Day Dummies

In [163]:
# create dummies of day column before grouping and aggregation
day_dummies = pd.get_dummies(tweet_df.day)

In [164]:
day_dummies.head()

   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0       1         0       0         0        0          0
1       0       1         0       0         0        0          0
2       0       1         0       0         0        0          0
3       0       1         0       0         0        0          0
4       0       1         0       0         0        0          0

In [165]:
# concat dummies to main df
tweet_day = pd.concat([tweet_dummy, day_dummies.drop('Wednesday', axis=1)], axis=1)

In [166]:
tweet_day.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,search_anxiety,search_depression,search_happiness,search_happy,Friday,Monday,Saturday,Sunday,Thursday,Tuesday
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,0,1,0,0,0,1,0,0,0,0
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,0,1,0,0,0,1,0,0,0,0
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,0,1,0,0,0,1,0,0,0,0
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,0,1,0,0,0,1,0,0,0,0
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,0,1,0,0,0,1,0,0,0,0

In [167]:
tweet_day.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 634636 entries, 0 to 634635
Data columns (total 52 columns):
conversation_id       634636 non-null int64
date                  634636 non-null datetime64[ns]
hashtags              634636 non-null object
id                    634636 non-null int64
likes_count           634636 non-null int64
name                  634636 non-null object
replies_count         634636 non-null int64
retweets_count        634636 non-null int64
time                  634636 non-null int16
tweet                 634636 non-null object
user_id               634636 non-null int64
username              634636 non-null object
tweet_ss              634636 non-null float64
target                634636 non-null int64
tag                   634636 non-null object
num_hashtags          634636 non-null int64
time_of_day           634636 non-null object
month                 634636 non-null int64
day                   634636 non-null object
season                634636 non-null object
avg_convo_ss          634636 non-null float64
avg_day_ss            634636 non-null float64
avg_season_ss         634636 non-null float64
avg_time_of_day_ss    634636 non-null float64
avg_tag_ss            634636 non-null float64
avg_pop_ss            634636 non-null float64
hashtag_anxiety       634636 non-null uint8
hashtag_depression    634636 non-null uint8
hashtag_friends       634636 non-null uint8
hashtag_fun           634636 non-null uint8
hashtag_happiness     634636 non-null uint8
hashtag_happy         634636 non-null uint8
hashtag_hope          634636 non-null uint8
hashtag_lonely        634636 non-null uint8
hashtag_love          634636 non-null uint8
hashtag_pain          634636 non-null uint8
hashtag_peace         634636 non-null uint8
hashtag_ptsd          634636 non-null uint8
hashtag_sad           634636 non-null uint8
hashtag_smile         634636 non-null uint8
hashtag_stress        634636 non-null uint8
hashtag_suicide       634636 non-null uint8
search_anxiety        634636 non-null uint8
search_depression     634636 non-null uint8
search_happiness      634636 non-null uint8
search_happy          634636 non-null uint8
Friday                634636 non-null uint8
Monday                634636 non-null uint8
Saturday              634636 non-null uint8
Sunday                634636 non-null uint8
Thursday              634636 non-null uint8
Tuesday               634636 non-null uint8
dtypes: datetime64[ns](1), float64(7), int16(1), int64(9), object(8), uint8(26)
memory usage: 162.8+ MB

In [191]:
tweet_day.columns

Index(['conversation_id', 'date', 'hashtags', 'id', 'likes_count', 'name',
       'replies_count', 'retweets_count', 'time', 'tweet', 'user_id',
       'username', 'tweet_ss', 'target', 'tag', 'num_hashtags', 'time_of_day',
       'month', 'day', 'season', 'avg_convo_ss', 'avg_day_ss', 'avg_season_ss',
       'avg_time_of_day_ss', 'avg_tag_ss', 'avg_pop_ss', 'hashtag_anxiety',
       'hashtag_depression', 'hashtag_friends', 'hashtag_fun',
       'hashtag_happiness', 'hashtag_happy', 'hashtag_hope', 'hashtag_lonely',
       'hashtag_love', 'hashtag_pain', 'hashtag_peace', 'hashtag_ptsd',
       'hashtag_sad', 'hashtag_smile', 'hashtag_stress', 'hashtag_suicide',
       'search_anxiety', 'search_depression', 'search_happiness',
       'search_happy', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday',
       'Tuesday'],
      dtype='object')

##### Season Dummies

In [168]:
# create dummies of season column
season_dummies = pd.get_dummies(tweet_df.season)

In [169]:
season_dummies.head()

   autumn  spring  summer  winter
0       0       1       0       0
1       0       1       0       0
2       0       1       0       0
3       0       1       0       0
4       0       1       0       0

In [179]:
# concat dummies to main df
tweet_season = pd.concat([tweet_day, season_dummies.drop('winter', axis=1)], axis=1)

In [180]:
tweet_season.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,search_happy,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,autumn,spring,summer
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,0,0,1,0,0,0,0,0,1,0
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,0,0,1,0,0,0,0,0,1,0
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,0,0,1,0,0,0,0,0,1,0
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,0,0,1,0,0,0,0,0,1,0
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,0,0,1,0,0,0,0,0,1,0

In [181]:
tweet_season.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 634636 entries, 0 to 634635
Data columns (total 55 columns):
conversation_id       634636 non-null int64
date                  634636 non-null datetime64[ns]
hashtags              634636 non-null object
id                    634636 non-null int64
likes_count           634636 non-null int64
name                  634636 non-null object
replies_count         634636 non-null int64
retweets_count        634636 non-null int64
time                  634636 non-null int16
tweet                 634636 non-null object
user_id               634636 non-null int64
username              634636 non-null object
tweet_ss              634636 non-null float64
target                634636 non-null int64
tag                   634636 non-null object
num_hashtags          634636 non-null int64
time_of_day           634636 non-null object
month                 634636 non-null int64
day                   634636 non-null object
season                634636 non-null object
avg_convo_ss          634636 non-null float64
avg_day_ss            634636 non-null float64
avg_season_ss         634636 non-null float64
avg_time_of_day_ss    634636 non-null float64
avg_tag_ss            634636 non-null float64
avg_pop_ss            634636 non-null float64
hashtag_anxiety       634636 non-null uint8
hashtag_depression    634636 non-null uint8
hashtag_friends       634636 non-null uint8
hashtag_fun           634636 non-null uint8
hashtag_happiness     634636 non-null uint8
hashtag_happy         634636 non-null uint8
hashtag_hope          634636 non-null uint8
hashtag_lonely        634636 non-null uint8
hashtag_love          634636 non-null uint8
hashtag_pain          634636 non-null uint8
hashtag_peace         634636 non-null uint8
hashtag_ptsd          634636 non-null uint8
hashtag_sad           634636 non-null uint8
hashtag_smile         634636 non-null uint8
hashtag_stress        634636 non-null uint8
hashtag_suicide       634636 non-null uint8
search_anxiety        634636 non-null uint8
search_depression     634636 non-null uint8
search_happiness      634636 non-null uint8
search_happy          634636 non-null uint8
Friday                634636 non-null uint8
Monday                634636 non-null uint8
Saturday              634636 non-null uint8
Sunday                634636 non-null uint8
Thursday              634636 non-null uint8
Tuesday               634636 non-null uint8
autumn                634636 non-null uint8
spring                634636 non-null uint8
summer                634636 non-null uint8
dtypes: datetime64[ns](1), float64(7), int16(1), int64(9), object(8), uint8(29)
memory usage: 164.7+ MB

In [192]:
tweet_season.columns

Index(['conversation_id', 'date', 'hashtags', 'id', 'likes_count', 'name',
       'replies_count', 'retweets_count', 'time', 'tweet', 'user_id',
       'username', 'tweet_ss', 'target', 'tag', 'num_hashtags', 'time_of_day',
       'month', 'day', 'season', 'avg_convo_ss', 'avg_day_ss', 'avg_season_ss',
       'avg_time_of_day_ss', 'avg_tag_ss', 'avg_pop_ss', 'hashtag_anxiety',
       'hashtag_depression', 'hashtag_friends', 'hashtag_fun',
       'hashtag_happiness', 'hashtag_happy', 'hashtag_hope', 'hashtag_lonely',
       'hashtag_love', 'hashtag_pain', 'hashtag_peace', 'hashtag_ptsd',
       'hashtag_sad', 'hashtag_smile', 'hashtag_stress', 'hashtag_suicide',
       'search_anxiety', 'search_depression', 'search_happiness',
       'search_happy', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday',
       'Tuesday', 'autumn', 'spring', 'summer'],
      dtype='object')

##### Month Dummies

In [182]:
# create dummies of month column
month_dummies = pd.get_dummies(tweet_df.month, prefix='Month')

In [183]:
month_dummies.head()

,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0

In [184]:
# concat dummies to main df
tweet_month = pd.concat([tweet_season, month_dummies.drop('Month_5', axis=1)], axis=1)

In [185]:
tweet_month.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,Month_2,Month_3,Month_4,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,0,0,0,0,0,0,0,0,0,0
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,0,0,0,0,0,0,0,0,0,0
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,0,0,0,0,0,0,0,0,0,0
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,0,0,0,0,0,0,0,0,0,0
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,0,0,0,0,0,0,0,0,0,0

In [193]:
tweet_month.columns

Index(['conversation_id', 'date', 'hashtags', 'id', 'likes_count', 'name',
       'replies_count', 'retweets_count', 'time', 'tweet', 'user_id',
       'username', 'tweet_ss', 'target', 'tag', 'num_hashtags', 'time_of_day',
       'month', 'day', 'season', 'avg_convo_ss', 'avg_day_ss', 'avg_season_ss',
       'avg_time_of_day_ss', 'avg_tag_ss', 'avg_pop_ss', 'hashtag_anxiety',
       'hashtag_depression', 'hashtag_friends', 'hashtag_fun',
       'hashtag_happiness', 'hashtag_happy', 'hashtag_hope', 'hashtag_lonely',
       'hashtag_love', 'hashtag_pain', 'hashtag_peace', 'hashtag_ptsd',
       'hashtag_sad', 'hashtag_smile', 'hashtag_stress', 'hashtag_suicide',
       'search_anxiety', 'search_depression', 'search_happiness',
       'search_happy', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday',
       'Tuesday', 'autumn', 'spring', 'summer', 'Month_1', 'Month_2',
       'Month_3', 'Month_4', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12'],
      dtype='object')

##### Time of Day Dummies

In [186]:
# create dummies of time of day column
time_dummies = pd.get_dummies(tweet_df.time_of_day)

In [187]:
time_dummies.head()

   AM  PM
0   0   1
1   0   1
2   0   1
3   0   1
4   0   1

In [188]:
# concat dummies to main df
tweet_time = pd.concat([tweet_month, time_dummies.drop('AM', axis=1)], axis=1)

In [189]:
tweet_time.head()

,conversation_id,date,hashtags,id,likes_count,name,replies_count,retweets_count,time,tweet,...,Month_3,Month_4,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,PM
0,1133159952065998848,2019-05-27,[],1133159952065998848,26,Cleveland Clinic MD,1,13,1956,"A patient presented with fatigue, headaches, d...",...,0,0,0,0,0,0,0,0,0,1
1,1133152414708764672,2019-05-27,[],1133152414708764673,3,12 News,0,2,1926,The 23-time gold medalist swimmer and Valley r...,...,0,0,0,0,0,0,0,0,0,1
2,1133148641596706816,2019-05-27,[],1133148641596706816,11,necn,1,3,1911,When Blake opened the ice cream shop in the mi...,...,0,0,0,0,0,0,0,0,0,1
3,1133144745285341184,2019-05-27,[],1133144745285341184,27,Trains Info,0,8,1855,"Don't suffer in silence, If you or someone you...",...,0,0,0,0,0,0,0,0,0,1
4,1133143854910251008,2019-05-27,[],1133143854910251015,592,Jeffrey Guterman,67,74,1852,Look it! The tRump supporter trying to stigmat...,...,0,0,0,0,0,0,0,0,0,1

In [190]:
tweet_time.shape

(634636, 67)

In [194]:
tweet_time.columns

Index(['conversation_id', 'date', 'hashtags', 'id', 'likes_count', 'name',
       'replies_count', 'retweets_count', 'time', 'tweet', 'user_id',
       'username', 'tweet_ss', 'target', 'tag', 'num_hashtags', 'time_of_day',
       'month', 'day', 'season', 'avg_convo_ss', 'avg_day_ss', 'avg_season_ss',
       'avg_time_of_day_ss', 'avg_tag_ss', 'avg_pop_ss', 'hashtag_anxiety',
       'hashtag_depression', 'hashtag_friends', 'hashtag_fun',
       'hashtag_happiness', 'hashtag_happy', 'hashtag_hope', 'hashtag_lonely',
       'hashtag_love', 'hashtag_pain', 'hashtag_peace', 'hashtag_ptsd',
       'hashtag_sad', 'hashtag_smile', 'hashtag_stress', 'hashtag_suicide',
       'search_anxiety', 'search_depression', 'search_happiness',
       'search_happy', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday',
       'Tuesday', 'autumn', 'spring', 'summer', 'Month_1', 'Month_2',
       'Month_3', 'Month_4', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12', 'PM'],
      dtype='object')

#### Group By and Aggregate Rows to User-Level

In [195]:
# create user dataframe where each row is a user using user_id as unique identifier
user_df = tweet_time.groupby(['user_id']).agg({
                                                                'likes_count': 'mean', 
                                                                'replies_count': 'mean', 
                                                                'retweets_count': 'mean', 
                                                                'tweet_ss': 'mean', 
                                                                'target': 'max', 
                                                                'num_hashtags': 'mean', 
                                                                'avg_convo_ss': 'mean', 
                                                                'avg_day_ss': 'mean', 
                                                                'avg_season_ss': 'mean',
                                                                'avg_time_of_day_ss': 'mean', 
                                                                'avg_tag_ss': 'mean', 
                                                                'avg_pop_ss': 'mean',
                                                                'hashtag_anxiety': 'mean',
       'hashtag_depression': 'mean', 'hashtag_friends': 'mean', 'hashtag_fun': 'mean',
       'hashtag_happiness': 'mean', 'hashtag_happy': 'mean', 'hashtag_hope': 'mean', 'hashtag_lonely': 'mean',
       'hashtag_love': 'mean', 'hashtag_pain': 'mean', 'hashtag_peace': 'mean', 'hashtag_ptsd': 'mean',
       'hashtag_sad': 'mean', 'hashtag_smile': 'mean', 'hashtag_stress': 'mean', 'hashtag_suicide': 'mean',
       'search_anxiety': 'mean', 'search_depression': 'mean', 'search_happiness': 'mean',
       'search_happy': 'mean', 'Friday': 'mean', 'Monday': 'mean', 'Saturday': 'mean', 'Sunday': 'mean', 'Thursday': 'mean',
       'Tuesday': 'mean', 'autumn': 'mean', 'spring': 'mean', 'summer': 'mean', 'Month_1': 'mean', 'Month_2': 'mean',
       'Month_3': 'mean', 'Month_4': 'mean', 'Month_6': 'mean', 'Month_7': 'mean', 'Month_8': 'mean', 'Month_9': 'mean',
       'Month_10': 'mean', 'Month_11': 'mean', 'Month_12': 'mean', 'PM': 'mean'}).reset_index(drop=False)

In [196]:
user_df.head()

,user_id,likes_count,replies_count,retweets_count,tweet_ss,target,num_hashtags,avg_convo_ss,avg_day_ss,avg_season_ss,...,Month_3,Month_4,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,PM
0,57,1.666667,0.666667,0.000000,0.450733,0,2.000000,0.450733,0.345007,0.393048,...,0.000000,0.0,0.000000,0.333333,0.0,0.000000,0.0,0.000000,0.0,1.000000
1,59,3.527778,0.694444,0.222222,0.579114,0,2.000000,0.583351,0.347117,0.502371,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.500000
2,76,12.368421,1.526316,0.631579,0.615095,0,3.789474,0.614055,0.354977,0.484822,...,0.052632,0.0,0.000000,0.000000,0.0,0.052632,0.0,0.000000,0.0,0.526316
3,224,6.428571,0.571429,0.714286,0.119571,1,2.000000,0.119571,0.331380,0.321834,...,0.142857,0.0,0.285714,0.000000,0.0,0.142857,0.0,0.000000,0.0,0.857143
4,291,20.666667,1.666667,0.166667,0.198967,1,2.000000,0.198967,0.368641,0.346405,...,0.166667,0.0,0.166667,0.000000,0.0,0.000000,0.0,0.166667,0.0,0.833333

In [197]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103209 entries, 0 to 103208
Data columns (total 54 columns):
user_id               103209 non-null int64
likes_count           103209 non-null float64
replies_count         103209 non-null float64
retweets_count        103209 non-null float64
tweet_ss              103209 non-null float64
target                103209 non-null int64
num_hashtags          103209 non-null float64
avg_convo_ss          103209 non-null float64
avg_day_ss            103209 non-null float64
avg_season_ss         103209 non-null float64
avg_time_of_day_ss    103209 non-null float64
avg_tag_ss            103209 non-null float64
avg_pop_ss            103209 non-null float64
hashtag_anxiety       103209 non-null float64
hashtag_depression    103209 non-null float64
hashtag_friends       103209 non-null float64
hashtag_fun           103209 non-null float64
hashtag_happiness     103209 non-null float64
hashtag_happy         103209 non-null float64
hashtag_hope          103209 non-null float64
hashtag_lonely        103209 non-null float64
hashtag_love          103209 non-null float64
hashtag_pain          103209 non-null float64
hashtag_peace         103209 non-null float64
hashtag_ptsd          103209 non-null float64
hashtag_sad           103209 non-null float64
hashtag_smile         103209 non-null float64
hashtag_stress        103209 non-null float64
hashtag_suicide       103209 non-null float64
search_anxiety        103209 non-null float64
search_depression     103209 non-null float64
search_happiness      103209 non-null float64
search_happy          103209 non-null float64
Friday                103209 non-null float64
Monday                103209 non-null float64
Saturday              103209 non-null float64
Sunday                103209 non-null float64
Thursday              103209 non-null float64
Tuesday               103209 non-null float64
autumn                103209 non-null float64
spring                103209 non-null float64
summer                103209 non-null float64
Month_1               103209 non-null float64
Month_2               103209 non-null float64
Month_3               103209 non-null float64
Month_4               103209 non-null float64
Month_6               103209 non-null float64
Month_7               103209 non-null float64
Month_8               103209 non-null float64
Month_9               103209 non-null float64
Month_10              103209 non-null float64
Month_11              103209 non-null float64
Month_12              103209 non-null float64
PM                    103209 non-null float64
dtypes: float64(52), int64(2)
memory usage: 42.5 MB

In [198]:
user_df.isnull().sum()

user_id               0
likes_count           0
replies_count         0
retweets_count        0
tweet_ss              0
target                0
num_hashtags          0
avg_convo_ss          0
avg_day_ss            0
avg_season_ss         0
avg_time_of_day_ss    0
avg_tag_ss            0
avg_pop_ss            0
hashtag_anxiety       0
hashtag_depression    0
hashtag_friends       0
hashtag_fun           0
hashtag_happiness     0
hashtag_happy         0
hashtag_hope          0
hashtag_lonely        0
hashtag_love          0
hashtag_pain          0
hashtag_peace         0
hashtag_ptsd          0
hashtag_sad           0
hashtag_smile         0
hashtag_stress        0
hashtag_suicide       0
search_anxiety        0
search_depression     0
search_happiness      0
search_happy          0
Friday                0
Monday                0
Saturday              0
Sunday                0
Thursday              0
Tuesday               0
autumn                0
spring                0
summer                0
Month_1               0
Month_2               0
Month_3               0
Month_4               0
Month_6               0
Month_7               0
Month_8               0
Month_9               0
Month_10              0
Month_11              0
Month_12              0
PM                    0
dtype: int64

In [156]:
# # pickle raw user_df
# user_df.to_pickle('./cleaned_data/raw_user_df.pkl')

In [158]:
# # pickle user_df after dropping columns
# user_df.to_pickle('./cleaned_data/trimmed_user_df.pkl')

In [199]:
# # pickle user_df with dummies and after dropping columns
# user_df.to_pickle('./cleaned_data/dummies_user_df.pkl')